.container_tatuadores{
    background-color: white !important;
    margin-top: 50px;
    margin-bottom: 50px;
}

.titulo_tatuadores{
    color: white;
    margin-top: 5%;
    margin-bottom: 5%;
}

.subtitulo_cardsTatuadoresHome{
    color: rgb(100, 100, 100);
    margin-bottom: 50px;
}





